<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>lotto page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>106.88888080 Sol</h1>
        <h3>Spin to Win!</h3>
        <nav class="navbar navbar-expand-lg">
            <div class="container">

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_1">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_2">About</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="lotto/">lotto</a>
                        </li>
 
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_4">Contact Us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_5">Pricing</a>
                        </li>
                    </ul>
                <div>
                        
            </div>
        </nav>
        <script src="" async defer></script>
    </body>
</html>